<div id="banner" class="page-banner">
            <div id="banner-text-box">
                <h1  class="banner-text">The Real BRB Weekly.com</h1>
                <h4 class="banner-text">center of nonsence</h4>
            </div> 
        </div>
        <nav id="navigation-bar">
            <button id="menuBtn">☰ Menu</button>
            <!-- <!-- <a href="https://therealbrbweekly.com/home">home</a> -->
            <!-- <a href="https://therealbrbweekly.com/BRB%20Dialy%20main%20page">BRB Nightly</a>
            <a href="https://therealbrbweekly.com/BRB10.pdf">BRB weekly 10</a> -->
        </nav>
        <p style="background-color: #444; color: aliceblue; font-size: x-small;">banner art by Dayton A Sayre</p>