<footer>
    <p> &target; please note &target;</p>
    <p>Nothing presented on therealbrbweekly.com should be tacken as fact. all information on therealbrbweekly.com is fictional purely ment in a the manner of satire. therealbrbweekly.com can not be held responsible for... anything at all go away.</p>
    <p> &copy; all hand drawn art on theRealBRBWeekly.com is the property of the BRB foundation &copy;</p>
    <p> please do not reuse without permision. not that you would because it has are name all over it but you know just in case.</p>
</footer>