<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global-css1.css"> 
    <title>BRB Nightly Catalog</title>
   
</head>
<body>
    <%- include('global/global-navigation-drop-down.html'); -%>
    <div class="side-content-left"></div>
    <div class="side-content-right"></div>
    <div class="center_content">
        <%- include('global/global-banner.html'); -%>
        <main>
            <nav>
                <section class="content-section">
                    <h3 class="content-header">Past BRB Nightly articles</h3>
                    <p class="content-paragraph">
                         A colection of buetifull BRB Nightly articles for your viewing plesure enjoy.
                    </p>

                    <div class="card-holder">
                        

                    </div>
                    
                </section>
            </nav>
        </main>
        <%- include('global/global-footer.html'); -%>
    </div>
    <script src="js/articalCardLoader.js"></script>
    <script src="js/banner1.js"></script>
    <script src="js/menu1.js"></script>
    <!-- <script src="js/adds.js"></script> -->
</body>
</html>