<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global-css1.css"> 
    <title>deleted</title>
   
</head>
<body>
    <%- include('global/global-navigation-drop-down.html'); -%>
    <div class="side-content-left"></div>
    <div class="side-content-right"></div>
    <div class="center_content">
        <%- include('global/global-banner.html'); -%>
        <main>
            <nav>
                <section class="content-section">
                    <h3 class="content-header">opinion deleted</h3>
                    <p class="content-paragraph">
                        your feedback has been automaticle deleted.
                        we do not value your opinion, please have a nice day.
                    </p>

                    <img src="/Images/fractions in fire.gif">
                    <p>superior beings such as ourselves have only one choice BURN THEM, a augh eijf I mean their mesages just there mesages yay...</p>
                    <br>
                    <a href="/" style="background-color: black; display: inline-block; padding: 10px; border-radius: 5px;">return to the home page</a>
                    
                </section>
            </nav>
        </main>
        <%- include('global/global-footer.html'); -%>
    </div>
    <script src="js/banner1.js"></script>
    <script src="js/menu1.js"></script>
    <!-- <script src="js/adds.js"></script> -->
</body>
</html>