<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global-css1.css"> 
    <title>BRB weekly team members</title>
   
</head>
<body>
    <%- include('global/global-navigation-drop-down.html'); -%>
    <div class="side-content-left"></div>
    <div class="side-content-right"></div>
    <div class="center_content">
        <%- include('global/global-banner.html'); -%>
        <main>
            <article>
                <section class="content-section">
                    <h2 class="content-header">Meet Our Team</h2>
                    <p class="content-paragraph">
                        Our team works hard to ensure that all of the real brb weekly’s products and services stand at the pinnacle of being better than every one else. We would not be able to create the literary master pieces we do without our amazing team of volunteers… wait what do mean volunteers I never heard anything about volunteering hay I want…    Our devoted team of specialist and master writers ensure each and every BRB weekly walks a path beyond that treaded by mere mortals. exect for that guy who just got fired... agian.
                    </p>
                </section>
                <section class="content-section">
                    <h3 class="content-header">The big B at BRB weekly</h3>
                    <p class="content-paragraph">
                        Bethany Sayre founded the BRB Weekly magazine to make the world a better and weirder place. Her first BRB weekly “BRB Weekly Issue:1” attracted sub global fame for its spectacular use of collage art created from political adds which came together to form a beautiful reimagined look for America’s politicians. This heartfelt act brought together people from both sides in a unified hatred never before seen in American politics. After this smuggling entrance to the world… um county stage BRB Weekly quickly started gaining many amazing sponsors like: snake pits today, face away and X enterprises as well as more team members who were attracted by the radiant glow of leadership cast by the big B.  Bethany writes most of the BRB weekly articles herself about 80% of most BRB weeklys, she has writen several short stories, created the cover art for allmost all of the brb Weekly magazines and has brought boxy's thrilling jokes to glorieous life.
                    </p>
                    <img src="/Images/DSC_0071.JPG" class="photo-side">
                </section>
                <section class="content-section">
                    <h3 class="content-header">meredith sayre</h3>
                    <p class="content-paragraph">
                    Meredith Sayre has created many good articles for the real BRB weekly. She also helps brainstorm ideas for brb articles and occasionally creates custom art for us.    
                    </p> 
                    <img src="/Images/DSCN0239.JPG" class="photo-side">     
                </section>
                <section class="content-section">
                    <h3 class="content-header">Dayton Sayre</h3>
                    <p class="content-paragraph">
                        Hello I maintain our website therealbrbweekly.com writing stuff like this, uploading brb weeklys and fiddling with the old Optiplex in our basement that your computer is currently receiving HTML code from.  I also write my own articles from time to time and am in charge of dealing with the printing of the brb weeklys, which has been going badly lately (errr Printers).
                    </p>
                    <img src="/Images/IMG_20260724_145508585_AE.jpg" class="photo-side">
                    <!-- <a href="/my portfolio.html" style="color: blue;">here</a> -->

                    <h2 class="content-header">Our reality challenged team members</h2>
                </section>
                <section class="content-section">
                    <h3 class="content-header">Boxy</h3>
                    <p class="content-paragraph">
                      Boxy is our top reporter and although we never told him he is also BRB weekly's mascot.  with courage to enter the seen of even the most dangerous of stories like: the time he hid in Sam the yes box’s luggage on his private jet, the time he snuck into Bob Casey’s house on taco Tuesday and that other time with X’s robot minions, X just does not seem to understand that you can’t replace your advertisers with robots its strictly forbidden. He also tells jokes that realy stink we don’t know why. 
                    </p>
                    <img src="/Images/IMG_20251214_202821158_AE.jpg" class="photo-side">
                </section>
                <section class="content-section">
                    <h3 class="content-header">Camera Of The Future</h3>
                    <p class="content-paragraph">
                     We don’t know were camera of the future came from, we don’t ask questions, any questions, we never ask him questions(just don’t it never goes well).  But we do know that he has the best deals on pictures of famous people like Bob Casey (don’t call camera O,T,F a paperoutzi he riley dos’t like them for some reason) but seriously all he want’s in return are: thrift store nick nackes, pictures of are relitives and cell metals from Uva. He's great. 
                    </p>
                    <img src="/Images/cmaera of the futere cover1.png" class="photo-side"">
                </section>
                <section class="content-section">
                    <h3 class="content-header">Uva and the other foam suit monsters</h3>
                    <p class="content-paragraph">
                     BRB Weekly is proud to be an important partner in the national monster rehabilitation program.  And we are proud to report that Uva N Greed as well as the other monsters in our care have seen a massive improvement in their behavior since joining BRB Weekly’s team (there much more occupied causing trouble where we want them to cause trouble now instead of causing trouble at random). Don’t worry Uva we aren’t going to tell them about the incident (the witnesses are locked in the basement nobody ever needs to know). Are monster employees are great and they work for free. 
                    </p>
                    <img src="/Images/caroling_thumbnail.jpeg" class="photo-side">
                </section>
            </article>
        </main>
        <%- include('global/global-footer.html'); -%>
    </div>
    <!-- <script src="js/inject-html.js"></script> -->
    <script src="/js/banner1.js"></script>
    <script src="/js/menu1.js"></script>
    <!-- <script src="/js/adds.js"></script> -->
</body>
</html>