<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global-css1.css"> 
    <title>feedback harvesting complete</title>
   
</head>
<body>
    <%- include('global/global-navigation-drop-down.html'); -%>
    <div class="side-content-left"></div>
    <div class="side-content-right"></div>
    <div class="center_content">
        <%- include('global/global-banner.html'); -%>
        <main>
            <nav>
                <section class="content-section">
                    <h3 class="content-header">upload complete</h3>
                    <p class="content-paragraph">
                        your information is in good hands yoyohoho.
                    </p>

                    <a href="/" style="background-color: black; display: inline-block; padding: 10px; border-radius: 5px;">return to the home page</a>
                    #3333
                </section>
            </nav>
        </main>
        <%- include('global/global-footer.html'); -%>
    </div>
    <script src="js/banner1.js"></script>
    <script src="js/menu1.js"></script>
    <!-- <script src="js/adds.js"></script> -->
</body>
</html>