<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global-css1.css"> 
    <title>yes bank grand opening</title>
   
</head>
<body>
    <div id="nav-placeholder"></div>
    <div class="side-content-left"></div>
    <div class="side-content-right"></div>
    <div class="center_content">
        <div id="banner-placeholder"></div>
        <main>
            <article>
                <section class="content-section">
                    <h3 class="content-header">put your money in a yes acount today!!!</h3>
                    <p class="content-paragraph">
                        Newest tonight its the grand opening of Yes Bank. Sleezy MC Collar owner of Yes Industriese siad quote 
            "Yes bank is the first ever bank founded by theives and robers for theives and robers so you can trust that your money will be vary vary safe with us bro eee ooo yo ho".
             And Sam the yes Box siad quote " we'll use your money so you don't have to you Spinch eateres ho ho ho ho ee oo". at Yes bank we'll invest your money in big pizzas for us yoll, yes boxs, 
             yes box's dental health and funding our criminal activities yo ho yes bro so say yes to yes bank or we will send yes box to you in the mail he will eat your fingres.
           so to sign up just go to YesWeStealYourMoney.com now now now!

                    </p>
                    <img class="nightly-img" src="/Images/criminal activities_thumbnail.jpeg">
                </section>
                <section class="add-section">
                    <h3 class="content-header">"what did you find Spock" "it seems to be some kind of primitive add playing device"</h3>
                    <div id="add-placeholder"></div>
                </section>
            </article>
        </main>
        <div id="footer-placeholder"></div>
    </div>
    <script src="js/inject-html.js"></script>
    <script src="js/banner.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/adds.js"></script>
</body>
</html>